@import "../components";

.review-list {
  margin: 2vh auto;
  padding: 0;
  width: 70vw;
  height: 20 vh;

  

  .review-list-image {
    width: 15vw;
    height: 15vh;
  }

  .review-list-text {
    width: 55vw;
  }
  
}