{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <!-- Button trigger modal -->

<div class="card mx-auto mt-3" style="width: 30rem;">
  <div class="card-body ">
    <h5 class="card-title">회원가입</h5>
    <hr class="mb-1">
    <form class="card-text mt-0" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container mb-3">
        {% bootstrap_form form %}
      </div>
      <hr>
      
      {% buttons %}
      <div class="row justify-content-around">
        <button type="submit" class="col-2 card-link btn btn-outline-danger">CREATE</button>
        <a href="{% url 'movies:index' %}" class="col-2 btn btn-outline-danger">BACK</a>
      </div>
      {% endbuttons %}
      
      
    </form>
  </div>
</div>

<style>
  .form-group {
    margin-bottom: 5px;
  }
</style>
{% endblock %}
